// Question Detail Form
#level::before,
#category::before,
#creator::before,
#created_at::before,
#updated_at::before {
	font-weight: bold;
}

#level::before {
	content: "Level : ";
}

#category::before {
	content: "Category : ";
}

#creator::before {
	content: "Creator : ";
}

#created_at::before {
	content: "Created At : ";
}

#updated_at::before {
	content: "Updated At : ";
}

// Table inside the Accordion
.col-table-order {
	background: #6c757d;
	transition: .7s;
}

.col-table-order:focus,
.col-table-order:hover {
	background: #38c172;
	transition: .7s;
}

.fa-sort {
	margin-left: 5px;
}
// Button Table
.btn-space {
	margin-right: 2px;
}