/* Form */
#time::before,
#experience::before,
#opportunity::before,
#timeDetail::before,
#experienceDetail::before,
#opportunityDetail::before,
.content-question::before,
.creator::before,
.created-at::before,
.updated-at::before {
	font-weight: bold;
}

#time::before,
#timeDetail::before {
	content: 'Time : ';
}

#experience::before,
#experienceDetail::before {
	content: 'Experience : ';
}

#opportunity::before,
#opportunityDetail::before {
	content: 'Opportunity : ';
}

.content-question::before {
	content: 'Content : ';
}

.creator::before {
	content: 'Creator : ';
}

.created-at::before {
	content: 'Created At : ';
}

.updated-at::before {
	content: 'Updated At : ';
}

/* Color of the informations on form above */
.info-form-challenge {
	background: #f5f6d3;
}