
// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

/*====================================================================
| 						    	MY STYLES  							 |
====================================================================*/
// Page Welcome
@import "pages/welcome";
@import "module/body-form-auth";

/*--------------------------------------------------------------------
| Modules Generic													 |
--------------------------------------------------------------------*/
@import "module/loading";
@import "module/btn-top";

/*--------------------------------------------------------------------
| Section App														 |
--------------------------------------------------------------------*/
// Page Challenge
@import "module/card-challenge";
@import "module/challenge-accept";

/*--------------------------------------------------------------------
| Section Admin														 |
--------------------------------------------------------------------*/
// Page Question Admin
@import "module/admin-form-question";

// Page Challenge Admin
@import "module/admin-form-challenge";
@import "module/card-graph";

// Generic
@import "module/toast";

// Default class used on all pages
.screen-full {
	height: 100vh;
}
// Generic class when we want to represent a button
.btn-cursor {
	cursor: pointer;
}
// Changes size of icon about Challenges
// Page AppChallenge, AdminQuestions and AdminChallenges
.icon-challenge {
	font-size: 1.5em;
}