// Class of lists where font size increases
.correct-size {
	font-size: 115%;
}
// Changes the background color of the platform section
.sec-plataform {
	background-color: $section-plataform;
}
// Changes size of icon Home
.icon-home {
	font-size: 2em;
}
// Changes size and color of icon Network
.icon-network {
	font-size: 2em;
	color: #333;
}